apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ianvs-workspace-pvc
  namespace: ianvs-benchmark
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
